.itemBg{
    background-color: white;
}
.itemHedTxt{
    color: #1b89b7;
    font-size: 24px;
    font-weight: bold;
}

.itemDetailTxt{
    color: #484848;
    font-size: 16px;
    font-weight: bold;
}

.itemDescTxt{
    color: #333333;
    font-size: 12px;
}
.readMore{
    width: 35%;
    font-size: 14px !important;
    font-weight: unset !important;
}